div.gallery {
    margin: 5px;
    border: 0.3em solid rgb(181, 99, 51);
    border-radius: 4em;
    float: left;
    width: 30em;
    height: 40em;
    background-color:rgb(181, 99, 51) ;
}

div.gallery:hover {
    border: 0.3em solid rgb(66, 26, 0);
    border-radius: 4em;
}

div.gallery img {
    width: 30em;
    height: 30em;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3.7em;
}

div.desc {
    position: absolute;
    padding: 1em;
    text-align: center;
}
