

/* (A) GRID CONTAINER */
#grid-line {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333% ;
    /* grid-gap: 10px; */
    align-items: center;
}

/* (B) GRID CELL */
div.cell {
    /* border: 2px solid rgb(0, 0, 0); */
    /* border-radius: 10px;
    padding: 0px; */ 
    height: auto;
    width: 100%;
    overflow: hidden;
}
div.cell_poze {
    /* border: 2px solid rgb(0, 0, 0); */
    /* border-radius: 10px;
    padding: 0px; */ 
    height: 20em;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
}

/* (C) SPAN MULTIPLE COLUMNS */
.spancol {
    grid-column-start: 1;
    grid-column-end: 4;
}

.img_grid_span2 {
    width: 5%;
    /* max-height: 5vw; */
    overflow: hidden;
    
}


