nav{
    display: flex;
    width: 100%;
    background-color:  rgb(66, 26, 0);


}
nav > .nav-section{
    padding: 0.4rem 0.4rem;
    display: flex;
    gap: 1rem;
    /* border-left: 0.3em solid black; */
    align-items: center;
    justify-content: center;

}
#nav-logo-section{
    flex-basis: calc(100%/8);
}
#search-section{
    flex-basis: calc(100%/8);
}
#nav-link-section{
    flex-grow: 1;
}
#nav-logo-section > a > i {
    font-size: 2.5rem;
}
#nav-link-section{
    gap: 6%;
}

.NavElement{
    text-decoration: none;
    display: flex-box;
    color: rgb(255, 239, 166);
    /* color: rgb(219, 160, 0); */
    text-size-adjust:20rem ;
    font-size: 1.4rem;
    /* background-color: rgb(255, 239, 166); */
    /* border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */
    padding: 0.2rem;
    font-style:normal ;


}
a.NavElement:visited{
    color: rgb(255, 239, 166);

}
a.NavElement:hover{
    color: rgb(130, 217, 0);
}
a.NavElement:active{
    color: rgb(1, 64, 1);
}
.logo{
    height: 5rem;
    width: auto;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}