.qr_cod {
    width: 10rem;
    overflow: hidden;
    border-radius: 8px;
}
.inf_contact{
    padding: 20px;
}
.google_map{
    padding: 20px;
    border-radius: 2rem;
    }
a.fb_link{
    color: blue;
}
a.fb_link:visited{
    color: blue;
}
.metode_contact{
    text-align: left;
    padding-left: 10% ;
}