
h1{
    /* color: rgb(0, 0, 0); */
    font-size:4em;
    text-shadow:
    -1px -5px 0 rgb(80, 80, 80),  
    -6px -5px 0 rgb(80, 80, 80);
    /* -1px 0px 0 rgb(80, 80, 80); */
    /* 1px 1px 0 rgb(255, 255, 255); */
}


.mag_element{
    width: auto;
    padding: 3em;
}
#intro{
    color: rgb(171, 68, 24);
}
#pescuit{
    color: rgb(20, 125, 195);
    /* background-image: url(./imag_grid/IMG-20210322-WA0014.jpg); */
}
#drumetie{
    color: rgb(40, 131, 30);
    /* background-image: url(./imag_grid/IMG-20210322-WA0015.jpg); */
}
#vanatoare{
    color: rgb(110, 75, 16);
    /* background-image: url(./imag_grid/IMG-20210322-WA0016.jpg); */
}
.img_mag{
    border-radius: 2em;
}


@media (orientation: landscape) {
    .img_mag{
        width: 60%;    
}
}
@media (orientation: portrait) {
    .img_mag{
    width: 100%;
    }
}